body {
    background-color: #000000;
}
.imagelogo{
    margin-left:80px;
    margin-right: 570px;
}
 .navigation-bar{
     margin-top: 20px;
 }
 a{
     color: aliceblue;
    }
    a:hover {
    color:#BF2666;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color:#BF2666;
    border-radius:20px;
}

#plan{
    background-color:rgb(175, 35, 93) ;
    border-color: rgb(175, 35, 93);
    border-radius:20px;
}
  .phone1{
      margin-top: 30px;
   margin-left:300px;
  }

.caption1{
    margin-top: 150px;
    font-weight: 500;
    font-size: 40px;
    margin-left: 150px;
    color: beige;
}
.caption2{
    margin-top: 150px;
    font-weight: 500;
    font-size: 40px;
    margin-left: 150px;
    color: beige;
}

 html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}

/* #carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
} */

/* html, body, main {
  width: 100%;
  height: 100%;
  margin-top:-80;
  padding: 0;
} */

#carousel {
  position: relative;
  height: 400px;
  /* top: 50%;
  transform: translateY(-50%); */
  overflow: hidden;
  margin-top: 70px;
  /* background-color:#1c0f24cc; */
  background-image: url("images/purplewood.jpg");

}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 390px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.scroller{
    margin-left: 600px;
    margin-top: 30px;

}
.threephones{
  margin-left: 65px;
}
.caption3{
  margin-left: 200px;
}
